body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(imagens/fundo.jpg);
}
header, img {
    text-align: center;
}
header {
    width: 100%; 
    background-color: rgb(0, 0, 0);
    padding: 10px;   
    box-sizing: border-box;
      display: inline-block;
}
header nav {
    float: left;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    margin: 5px;
    display: inline-block;
}
header nav ul li a, a {
    color: white;
    text-decoration: none;
}
a:hover {
    transition: 500ms;
    color: red;
}
#mainHome {
    width: 45%;
    float: left;
}
.texto h1{
    font-size: 36px;
    margin: 100px 50px 0px ;
    color: white;
}
.texto p {
    font-size: 18px;
    margin: 10px 50px 0px;
    color: white;
}
#grid {
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
}
#somos  {
    text-align: center;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(255, 255, 255, 0.868);
    margin: 100px;
    padding: 10px;
    border-radius: 10px;
}
#somos img  { 
  border-radius: 10px;
}
aside {
     width: 45%;
     float: right;
     margin-top: 100px;
     display: block;
}
aside img {
    width: 80%;
    border-radius: 5px;
    border: 5px solid black; 
}
.contato {
    color: black;
    text-align: center;
    padding: 25px;
}
.header-menu , #play{
    display: none;
}

@media(max-width: 800px ) {

    body {
        margin: 0px;
        margin-bottom: 15px;
        box-sizing: border-box;
    
    }
    .show {
        display: block !important;
       
    }
    .header-menu {
        display: block;
        float: right;
        margin: 25px;
        border: 1px solid #fff;
        padding: 10px;
        border-radius: 5px;
    }

    .header-nav {
        display: none;
    }
    header  {
        text-align: center;
        top: 0;
    }
    header img {
        width: 70%;
        margin-top: 30px;
    }
    main #somos #grid , main #grid {
        grid-template-columns: repeat(1, 100%);
    }
    main #somos #grid .contato {
        font-size: 11px;
    }
    #mainHome .texto h1 {
        font-size: 20px ;
    }
    aside img {
        display: none;
    }
    #mainHome {
        width: 100%;
    }
    #somos  {
        width: 420px;
        margin: auto;
        margin-top: 20px;
    }
    #play {
        display: block ;
    }
    #mainIfreme {
        display: none;
        src: none;
        width: 200px;
        height: 200px;
    }

    @media(max-width: 1000px ) {
        #mainIfreme {
            display: none;
            src: none;
            width: 200px;
            height: 200px;
        }
        body {
            box-sizing: border-box;
        }
    }
    @media (max-width: 500px) {
        body {
            box-sizing: border-box;
        }
        #somos {
            width: 350px;
            margin: auto;
            margin-top: 20px;
        }
    }
}
